<!doctype html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <title>Simple Flask App</title>
   </head>
   <body>
       <h1 style="text-align:center">{{header}}</h1>
       <ul>
	     <!-- Iterate over books and print their title and list of authors -->
            {% for book in books %}
               <!-- Set red color for title if book has more than 1 author else set blue color-->
               <li style="color:{% if book['authors']|length > 1 %}red{% else %}blue{% endif %}">{{book.title}}</li>
               <ul>
		    <!-- Iterate over book authors -->
                   {% for author in book['authors'] %}
                       <li>{{author}}</li>
                   {% endfor %}
               </ul>
               <br> <!-- space between books -->
           {% endfor %}
       </ul>
   </body>
</html>
