<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
</head>
<body>
<div id="content"></div>
    <script type="text/babel" >
        // Create global variable
        var user = { name: "Master Yoda" };

        var ContactsApp  = React.createClass({
            render: function(){
                return (
                        // Read got variable from the 'this.props'. In 'this.props' saved all parameters.
                        <div className="contactsApp">Hello {this.props.user.name}!</div>
                );
            }
        });
        // Pass variable to component
        ReactDOM.render(<ContactsApp user={ user }/>, document.getElementById("content"))
    </script>
</body>
</html>