<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
</head>
<body>
<div id="content"></div>
    <script type="text/babel" >
        // Create the component with text area for input text for search and assign class for div element
        var SearchBar = React.createClass({
            render: function () {
                return(
                        <div className="searchBar">
                            <input type="text"/>
                        </div>
                )
            }
        });
        // Create the component with div element for one contact
        var Contact = React.createClass({
            render: function () {
                return(
                        <div className="contactName">
                            <h3>Master Yoda</h3>
                            <p>+48777777777</p>
                        </div>
                )
            }
        });
        // Create the component for all contacts
        var ContactsList = React.createClass({
            render: function () {
                // Insert Contact component in ContactList
                return(
                        <div className="contactList">
                            <Contact/>
                        </div>
                )
            }
        });
        // Create the main component and return all components created early
        var ContactsApp  = React.createClass({
                render: function () {
                    return(
                            <div className="contactApp">
                                <SearchBar/>
                                <ContactsList/>
                            </div>
                    )           
                }
        });
        ReactDOM.render(<ContactsApp/>, document.getElementById("content"))
    </script>
</body>
</html>