<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<!-- Fill body in light gray color to highlight SVG element -->
<body cz-shortcut-listen="true" style="background-color: black;">
<!-- Create a SVG -->
    <svg width="700" height="600" style="background-color: white;">
        <circle cy="500" cx="350" r="100" style="fill: rgb(173, 216, 230);"></circle>
        <circle cy="320" cx="350" r="80" style="fill: rgb(173, 216, 230);"></circle>
        <circle cy="190" cx="350" r="50" style="fill: rgb(173, 216, 230);"></circle>
        <circle cy="190" cx="325" r="10" style="fill: black;"></circle>
        <circle cy="190" cx="375" r="10" style="fill: black;"></circle>
        <path d="M350,195L380,220L350,205L350,195" stroke="orange" stroke-width="2" fill="orange"></path>
    </svg>
</body>
    <script src="../static/d3.min.js"></script>
    <script rel="stylesheet" src="../static/simple_3d_example.js"></script>
</html>